<%= render 'layouts/mypagebook', {user: @user, book: @book} %>
<div class="col-xl-9">
	<table>
		<tbody>
			<tr>
			<th><%= @name %></th>
			<th><%= @book.title %></th>
			<th><%= @book.body %></th>
		</tr>
		</tbody>
	</table>
</div>