                        <h2 class="form-header-title">ユーザーログイン</h2>
                    <div class="form-body">
                              <div class="text-center">
                                  <h4>IDと<br>パスワードを入力してください。</h4>
                              </div>
                          </div>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <label class="control-label sr-only" for="inputName">Name</label>
      <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"ユーザーID"%>
      <label class="control-label sr-only" for="inputPassword">Password</label>
      <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
    <%= f.submit "サインイン" %>
  <% end %>